* {
    margin: 0;
    top: 0;
}

.contact-us {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar {
    display: flex;
    margin: 16px 0;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 120px;
    height: 25px;
}

.button {
    min-width: 175px;
    display: flex;
    margin-left: 30px;
    align-items:flex-start;
}

.overlap-group-nav {
    min-width: 173px;
    height: 52px;
    background-color: #F58A071A;
}

.overlap {
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: space-around;
}

.clone-project {
    color: #F58A07;
    font-size: 16px;
    font-weight: 600;
}

.navbar-1 {
    display: flex;
    height: 22px;
    gap: 32px;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
}

/* navbar section */

.navbar-section {
    margin: 60px 135px;
    display: flex;
}

.navbar-section-left {
    width: 45%;
}

.section-left-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 20px;
}

.section-left-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
}

.navbar-section-right {
    display: flex;
    margin-left: 40px;
}

.section-right-2 {
    margin-left: 30px;
}
.section-right-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
    margin-top: 20px;
}

.section-right-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: #5B5B5B;
}

/* contact section */

.contact-section {
    display: flex;
    margin: 60px 135px;
}

.contact {
    width: 50%;
}

.map {
    margin-left: 40px;
}

.image {
    border-radius: 31px;
}

.contact-text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 500px;
    height: 50px;
    background: #D2DAED2B;
    border-radius: 27px;
    border: none;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #9C9C9C;
}

.text-special {
    padding-bottom: 133px;
}

.section-button-1 {
    display: flex;
    align-items:flex-start;
}
  
.overlap-group-1 {
    min-width: 100px;
    height: 40px;
    background-color: #F58A07;
}
  
.overlap-1 {
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: space-around;
    margin-top: 20px;
}
.submit {
    color: #fff;
}

/* footer */

.footer{
    width: 100%;
    height: 463px;
    background-color:#063255;
    color: white;
    position: relative;
}
.footer-list{
    float: left;
    display:inline-flex;
    margin-top: 80px;
    margin-left:133px;
    margin-bottom: 30px;
}
.footer-title-1{
    width: 40%;
    margin-right: 40px;
}
.footer-title-1 p{
    line-height: 20px;
    font-size: 14px;
}
.footer-title-1 h1{
    padding-top: 20px;
}
.company-footer-group{
    margin-right: 80px;
}
.company-footer-group p{
    line-height: 24px;
    font-size: 14px;
    padding-top: 15px;
}
.company-1{
    font-weight: bold;
}
.connect-footer-group{
    margin-right: 100px;
}
.connect-footer-group p{
    line-height: 24px;
    font-size: 14px;
    padding-top: 15px;
}
.connect-1{
    font-weight: bold;
}
.subcribe-footer-group p{
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
}

.join-newsletter {
    margin-bottom: 30px;
}
.input{
    padding-top: 15px;
}

.social{
    position: absolute;
    padding-top: 240px;
    font-size: 23px;
}

.social-icon {
    margin-right: 10px;
}
.i{
    position: absolute;
    text-align: center;
    font-size: 14px;
    padding-top: 359px;
    padding-left: 320px;
}
.footer-bottom-links{
    position: absolute;
    text-align: center;
    font-size: 14px;
    display: flex;
    padding-top: 359px;
    padding-left: 890px;
}

.footer-shape-left{
    position: absolute;
    width: 53px;
    height: 144px;
    padding-top: 319px;
}

.privacy-policy-1 {
    margin-right: 20px;
}
.footer-shape-right{
    position: absolute;
    width: 53px;
    height: 287px;
    padding-top: 38px;
    padding-left: 1345px;
}

.section-button-1 {
    display: flex;
    align-items:flex-start;
}
  
.overlap-group-2 {
    min-width: 100px;
    height: 40px;
    background-color: #F58A07;
    border: none;
    margin-top: 0;
    margin-bottom: 20px;
}
  
.overlap-1 {
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: space-around;
}

.subcribe {
    color: #fff;
    font-size: 16px;
}

.subcribe-input {
    padding: 10px 120px 10px 15px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    color: #9C9C9C;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }



