:root {
    --title-font-xxx:64px;
    --title-font-xx:48px;
    --title-font-x:32px;
    --text-font-xxxx:24px;
    --text-font-xxx:18px;
    --text-font-xx:16px;
    --text-font-x:14px;
    --title: #1D3444;
    --text:#5B5B5B;
    --mini:#F58A07;
    --font-color-1:#063255;
    --font-color-2:#DCEAF5;
}
* {
    margin: 0;
    top: 0;
    bottom: 0;
}

.services {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    margin: 16px 0;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 120px;
    height: 25px;
}

.button {
    min-width: 175px;
    display: flex;
    margin-left: 30px;
    align-items:flex-start;
}

.overlap-group-nav {
    min-width: 173px;
    height: 52px;
    background-color: #F58A071A;
}

.overlap {
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: space-around;
}

.clone-project {
    color: #F58A07;
    font-size: 16px;
    font-weight: 600;
}

.navbar-1 {
    display: flex;
    height: 22px;
    gap: 32px;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
}

/* navbar section */

.navbar-section {
    margin: 60px 135px;
    display: flex;
}

.section-left {
    float: left;
    padding-top: 20px ;
}

.s {
    margin-bottom: 30px;
}

.section-title {
    font-size: 62px;
    color: var(--title);
}

.lorem-ipsum-1 {
    line-height: 30px;
    color: var(--text);
    font-size: var(--text-font-xxx);
    font-weight: 400;
}

.section-button {
    display: flex;
    align-items:flex-start;
}
  
.overlap-group {
    min-width: 173px;
    height: 52px;
    background-color: #F58A07;
}
  
.overlap {
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: space-around;
}
  
.work-with-us {
    color: #fff;
}

.section-right {
    float: right;
    position: relative;
}

.image-1 {
    width: 570px;
    height: 580px;
    right: 0;
}

.right-orange-opacity {
    width: 160px;
    height: 580px;
    position: absolute;
    background-color: var(--mini);
    mix-blend-mode: multiply;
    border-radius: 19px 0 0 20px;
}

.circle {
    position: absolute;
    margin-top: 50px;
    margin-left: -58px;
}

/* feature */

.features {
    margin: 0 135px 60px 135px;
    position: relative;
}

.feature-1 {
    display: flex;
}

.feature-1-image {
    float: left;
}

.image-2 {
    width: 570px;
    height: 520px;
}

.feature-orange-opacity {
    position: absolute;
    width: 95px;
    height: 97px;
    background-color: var(--mini);
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.orange-1 {
    margin-top: 128px;
    margin-left: -47px;
}

.feature-1-text {
    float: right;
    margin: auto 0 auto 50px;
}

.business-strategy {
    font-size: var(--title-font-x);
}

.lorem-ipsum-2 {
    font-size: var(--text-font-xxx);
    color: var(--text);
    line-height: 30px;
}

.feature-1-menu {
    font-size: var(--text-font-xx);
    color: var(--text);
}

.menu-right {
    margin-bottom: 15px;
    list-style-type: disc;
}

.o {
    margin-bottom: 30px;
}

.feature-2 {
    margin-top: 60px;
    display: flex;
}

.feature-2-text {
    float: left;
    margin: auto 0 auto 0;
}

.digitalization {
    font-size: var(--title-font-x);
    font-weight: 600;
    margin-bottom: 30px;
}

.lorem-ipsum-3 {
    font-size: var(--text-font-xxx);
    line-height: 30px;
    color: var(--text);
    font-weight: 500;
    padding-right: 45px;
}

.feature-2-image {
    float: right;
}

.image-3 {
    width: 570px;
    height: 520px;
}

.orange-2 {
    margin-left: 520px;
    margin-top:850px;
}

.feature-3 {
    margin-top: 60px;
    display: flex;
}

.feature-3-image {
    float: left;
}

.image-4 {
    width: 570px;
    height: 520px;
}


.orange-3 {
    margin-top: 1365px;
    margin-left: -47px;
}

.feature-3-text {
    float: right;
    margin: auto 0 auto 50px;
}

.risk-assessment {
    font-size: var(--title-font-x);
}

.lorem-ipsum-4 {
    font-size: var(--text-font-xxx);
    line-height: 30px;
    color: var(--text);
}

.feature-3-menu {
    font-size: var(--text-font-xx);
    color: var(--text);
}

.menu-right {
    margin-bottom: 15px;
    list-style-type: disc;
}

.feature-4 {
    margin-top: 60px;
    display: flex;
}

.feature-4-text {
    float: left;
    margin: auto 0 auto 0;
}

.artifical-intelligence {
    font-size: var(--title-font-x);
    font-weight: 600;
    margin-bottom: 30px;
}

.lorem-ipsum-5 {
    font-size: var(--text-font-xxx);
    line-height: 30px;
    color: var(--text);
    font-weight: 500;
    padding-right: 45px;
}

.feature-4-image {
    float: right;
}

.image-5 {
    width: 570px;
    height: 520px;
}

.orange-4 {
    margin-left: 520px;
    margin-top: 2020px;
}

.feature-5 {
    margin-top: 60px;
    display: flex;
}

.feature-5-image {
    float: left;
}

.image-6 {
    width: 570px;
    height: 520px;
}


.orange-5 {
    margin-top: 2650px;
    margin-left: -47px;
}

.feature-5-text {
    float: right;
    margin: auto 0 auto 50px;
}

.smart-contacts {
    font-size: var(--title-font-x);
}

.lorem-ipsum-6 {
    font-size: var(--text-font-xxx);
    line-height: 30px;
    color: var(--text);
}

.feature-5-menu {
    font-size: var(--text-font-xx);
    color: var(--text);
}

.menu-right {
    margin-bottom: 15px;
    list-style-type: disc;
}

/* feature section */
.feature-section {
    display: flex;
    margin:0 135px 60px 135px;
}

.feature-section-text {
    float: left;
    margin: auto 20px auto 0;
}

.finsweet-was-a-dream {
    font-size: var(--title-font-xx);
    font-weight: 600;
    line-height: 56px;
}

.maecenas {
    font-size: var(--text-font-xxx);
    line-height: 30px;
    font-weight: 500;
    color: var(--text);
}

.introduce {
    display: flex;
}

.image-7 {
    width: 70px;
    height: 70px;
}

.name {
    list-style-type: none;
    margin: auto 0 auto 20px;
    line-height: 28px;
}

.chikelu-neo {
    font-size: var(--text-font-xxxx);
    color: var(--font-color-1);
}

.ceo-at-mazeai {
    font-size: var(--text-font-xxx);
    color: var(--mini);
}

.all-feature-section {
    margin-bottom: 30px;
}

.feature-section-image {
    float: right;
}

.image-8 {
    width: 570px;
    height: 520px;
}

.play-icon {
    position: absolute;
    display:flex;
    margin-top: 4120px;
    margin-left: 60px;
}

.icon {
    color:#F58A07;
}

.play-video {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

/* latest */
.latest {
    background-color: var(--font-color-2);
}

.latest-section {
    margin: 100px 135px;
}

.latest-blog-news {
    margin-bottom: 60px;
    font-size: var(--title-font-xx);
    font-weight: 600;
    line-height: 56px;
}

.image {
    width: 370px;
}
.blog-item-container {
    display: flex;
}

.blog-item {
    margin-right: 25px;
    background-color: #fff;
    border-radius: 20px;   
}

.blog-group {
    margin: 15px;

}

.blog-title,
.blog-text {
    margin-bottom: 20px;
}

.blog-title {
    font-size: var(--text-font-xxxx);
    font-weight: 500;
    line-height: 36px;
}

.blog-text {
    font-size: var(--text-font-xx);
    font-weight: 500;
    line-height: 28px;
    color: var(--text);
}

.learn-more-2 {
    display: flex;
    align-items: center;
}

.learn-more-1 {
    color: var(--mini);
    margin-right: 10px;
}

/* footer */

.footer{
    width: 100%;
    height: 463px;
    background-color:#063255;
    color: white;
    position: relative;
}
.footer-list{
    float: left;
    display:inline-flex;
    margin-top: 80px;
    margin-left:133px;
    margin-bottom: 30px;
}
.footer-title-1{
    width: 40%;
    margin-right: 40px;
}
.footer-title-1 p{
    line-height: 20px;
    font-size: 14px;
}
.footer-title-1 h1{
    padding-top: 20px;
}
.company-footer-group{
    margin-right: 80px;
}
.company-footer-group p{
    line-height: 24px;
    font-size: 14px;
    padding-top: 15px;
}
.company-1{
    font-weight: bold;
}
.connect-footer-group{
    margin-right: 100px;
}
.connect-footer-group p{
    line-height: 24px;
    font-size: 14px;
    padding-top: 15px;
}
.connect-1{
    font-weight: bold;
}
.subcribe-footer-group p{
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
}

.join-newsletter {
    margin-bottom: 30px;
}
.input{
    padding-top: 15px;
}

.social{
    position: absolute;
    padding-top: 240px;
    font-size: 23px;
}

.social-icon {
    margin-right: 10px;
}
.i{
    position: absolute;
    text-align: center;
    font-size: 14px;
    padding-top: 359px;
    padding-left: 320px;
}
.footer-bottom-links{
    position: absolute;
    text-align: center;
    font-size: 14px;
    display: flex;
    padding-top: 359px;
    padding-left: 890px;
}

.footer-shape-left{
    position: absolute;
    width: 53px;
    height: 144px;
    padding-top: 319px;
}

.privacy-policy-1 {
    margin-right: 20px;
}
.footer-shape-right{
    position: absolute;
    width: 53px;
    height: 287px;
    padding-top: 38px;
    padding-left: 1345px;
}

.section-button-1 {
    display: flex;
    align-items:flex-start;
}
  
.overlap-group-1 {
    min-width: 100px;
    height: 40px;
    background-color: #F58A07;
    border: none;
}
  
.overlap-1 {
    display: flex;
    align-items: center;
    border-radius: 31px;
    justify-content: space-around;
}

.subcribe {
    color: #fff;
    font-size: 16px;
}

.subcribe-input {
    padding: 10px 120px 10px 15px;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    color: #9C9C9C;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }



